<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Camera Feed</title>
    <h1>Title</h1>
    <style>
    body {background-color: rgb(100, 92, 113);}
    background: linear-gradient(
    0deg,
    rgba(100, 92, 113, 1) 0%,
    rgba(47, 46, 49, 1) 43%,
    rgba(47, 46, 49, 1) 100%
    );
    </style>
</head>
<body>
    
    <h2>
        <form method="post" action="{{ url_for('generate_story') }}">
            <label for="items">Show a picture of one of these items:</label>
            <select name="items" id="items">
                <option value="aeroplane">Aeroplane</option>
                <option value="bicycle">Bicycle</option>
                <option value="bird">Bird</option>
                <option value="boat">Boat</option>
                <option value="bottle">Bottle</option>
                <option value="bus">Bus</option>
                <option value="car">Car</option>
                <option value="cat">Cat</option>
                <option value="chair">Chair</option>
                <option value="cow">Cow</option>
                <option value="diningtable">Dining Table</option>
                <option value="dog">Dog</option>
                <option value="horse">Horse</option>
                <option value="motorbike">Motor Bike</option>
                <option value="person">Person</option>
                <option value="pottedplant">Potted Plant</option>
                <option value="sheep">Sheep</option>
                <option value="sofa">Sofa</option>
                <option value="train">Train</option>
                <option value="tvmonitor">TV Monitor</option>
            </select>
            <input type="submit" value="Generate Story">
        </form>
    </h2>

    <div>
        <img src="{{url_for('video')}}" width="50%"/>
    </div>

    <div>
        <h3>Generated Story:</h3>
        <p>
            <iframe src="https://giphy.com/embed/lTFoYdCiKbt0XU2ofv" width="10%" height="10%" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
            {{ generated_story }}
        </p>
    </div>
</body>
</html>
